<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminRegisterController</servlet-name>
        <servlet-class>controller.adminRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginController</servlet-name>
        <servlet-class>controller.adminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCityController</servlet-name>
        <servlet-class>controller.addCityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRestaurantController</servlet-name>
        <servlet-class>controller.addRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRestaurantController</servlet-name>
        <servlet-class>controller.deleteRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCityController</servlet-name>
        <servlet-class>controller.deleteCityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogoutController</servlet-name>
        <servlet-class>controller.adminLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerLoginController</servlet-name>
        <servlet-class>controller.managerLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerRegisterController</servlet-name>
        <servlet-class>controller.managerRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerLogoutController</servlet-name>
        <servlet-class>controller.managerLogoutController</servlet-class>
    </servlet>
    <context-param>
        <description>File Upload Location</description>
        <param-name>file_upload</param-name>
        <param-value>D:\Projects\restaurant-table-reservation\web\uploads\</param-value>
    </context-param>
    <servlet>
        <servlet-name>addRestaurantPhotoController</servlet-name>
        <servlet-class>controller.addRestaurantPhotoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBookingController</servlet-name>
        <servlet-class>controller.deleteBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRestaurantMenuController</servlet-name>
        <servlet-class>controller.addRestaurantMenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRestaurantController</servlet-name>
        <servlet-class>controller.updateRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRestaurantControllerRedirect</servlet-name>
        <servlet-class>controller.updateRestaurantControllerRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminRegisterController</servlet-name>
        <url-pattern>/adminRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginController</servlet-name>
        <url-pattern>/adminLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCityController</servlet-name>
        <url-pattern>/addCityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRestaurantController</servlet-name>
        <url-pattern>/addRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRestaurantController</servlet-name>
        <url-pattern>/deleteRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCityController</servlet-name>
        <url-pattern>/deleteCityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogoutController</servlet-name>
        <url-pattern>/adminLogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerLoginController</servlet-name>
        <url-pattern>/managerLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerRegisterController</servlet-name>
        <url-pattern>/managerRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerLogoutController</servlet-name>
        <url-pattern>/managerLogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRestaurantPhotoController</servlet-name>
        <url-pattern>/addRestaurantPhotoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBookingController</servlet-name>
        <url-pattern>/deleteBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRestaurantMenuController</servlet-name>
        <url-pattern>/addRestaurantMenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRestaurantController</servlet-name>
        <url-pattern>/updateRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRestaurantControllerRedirect</servlet-name>
        <url-pattern>/updateRestaurantControllerRedirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
